@import url('https://fonts.googleapis.com/css2?family=Itim&family=Inter:wght@400;600&family=Instrument+Sans&display=swap');
/* App-background */
:root {
    --font-itim: 'Itim', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --font-instrument-sans: 'Instrument Sans', sans-serif;
  

    --background-style: linear-gradient(to bottom, #136CFF 0%, #0B4199 100%) no-repeat fixed;
  }
  